h1 {
    color:#490645;
    font-family:Times New Roman;
    font-weight: bold;
    font-size:xx-large;
    text-decoration: underline;
    text-align: center;
}

p {
    color: rgba(5, 5, 5, 0.904);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size:x-large;
    text-decoration: underline;
    text-align: center;

     
}
div{background-color:rgb(182, 182, 182);}


